Building construction failure and curses. Oftentimes we building collapsed. And when these happened it often results to lost of lives, materials  and of course environmental impact and as financial lost. On these notes there are little bascis factors that often the curses of this, that we engineers  most times ignore. First of all let me take you through this courses.(1) environment impact: this could be  soil structure. Most times engineers ignore these aspect which supposed be the paramount. The environment need to be checked properly before any be structure auto be layed   
